{% extends "base2.html" %}
{% load static %}
{% block content %}

<body>
    <style>.card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }
        .card-registration .select-arrow {
        top: 13px;
        }</style>
    <section class="h-100 bg-dark">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-none d-xl-block">
                    <img src="{% static 'baby register.jpg' %}"
                      alt="Sample photo" class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-5 text-black">
                      <h3 class="mb-5 text-uppercase" style="text-align:center"><b>Login</b></h3>
                      <form action="log" method="post">
                        {% csrf_token %}
      
                      
      
                     
      
                      <div class="form-outline mb-4">
                        <input type="email" id="form3Example8" class="form-control form-control-lg" name="eid" />
                        <label class="form-label" for="form3Example8">Email ID</label>
                      </div>
      
                                     <div class="form-outline mb-4">
                        <input type="password" id="form3Example90" class="form-control form-control-lg" name="passw" />
                        <label class="form-label" for="form3Example90">password</label>
                      </div>
      
                      
      
                      <div class="d-flex justify-content-end pt-3">
                        
                        <button type="submit" class="btn btn-warning btn-lg ms-2">Submit </button>
                      </div>
                      <a href="sigp"><h6>New to FirstCry? Register Here</h6></a>
                   
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
</body>

</html>
{% endblock %}